<div class = "page-title">問題タイトル</div>
<%= @question.title %>
<div class = "q_explain">問題説明</div>
<p>
<%= @question.explain %>
</p>

<table>
<% if @question.koukai == "true" %>
        <% @answear_all.each do |answear_all| %>
            <div class="container-answears" id = "container-answears-js">
            <div class = "final-wrapper"><%= answear_all.final_answear %></div>
            <div class = "explain-wrapper"><%= answear_all.answear_text %></div>
            <% ans_user_name = User.where(id: answear_all.user_id).first.user_name %>
            <%= link_to "created_by : #{ans_user_name}", "/users/#{answear_all.user_id}", :style=>"color:black;" %>
        <!-- いいね機能でつ -->
            <% if answear_all.favorited_by?(current_user) %>
                <p>
                    <%= link_to favorites_cancel_path(answear_all), method: :delete, :style=>"color:pink;" do %>
                        <i class="fa fa-heart" aria-hidden="true" style="color: red;"></i>
                        <%= answear_all.favorites.count %> いいね
                    <% end %>
                </p>
            <% else %>
                <p>
                    <%= link_to favorites_path(answear_all), method: :post, answear_id: answear_all.id, :style=>"color:pink;" do %>
                        <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                         <%= answear_all.favorites.count %> いいんじゃね
                    <% end %>
                </p>
            <% end %>
            <div class = "ans-link">
                <% idlink = answear_all.id %>
                <%= link_to "詳細へ!!!", "/answears/#{answear_all.id}", :style=>"color:white;" %>
            </div>
            </div>
        <% end %>
<% else %>
    <% if @current_user_answear_count == 0 %>
        <%= form_for @answear , url: {:controller => :question_lists, :action => :create} do |f| %>
        <h4>ファイナルアンサー</h4>
        <%= f.text_field :final_answear %>
        <h4>過程</h4>
        <%= f.text_area :answear_text,rows:7 %>
        <%= f.submit '投稿' %>
            <% if @answear.errors.any? %>
                <p>エラーでーす。</p>
            <% end %>
        <% end %>
    <% else %>
        <div class = "container-your-answear">
        <p>あなたの解答</p>
        <% @current_user_answears.each do |current_a| %>
            <div class = "finail-wrapper"><%= "答えの数値  :  #{current_a.final_answear}" %></div>
            <div class = "explain-wrapper"><%= "導出過程  :   #{current_a.answear_text}" %></div>
        <% end %>
        <%= link_to "編集する??", edit_answear_path, :style=>"color:orange;" %>
        </div>
        <div>他の人の解答...現在非公開です。解答期限までお待ちください。</div>
    <% end %>
<% end %>
</table>


<ol>
    <% @question.answears.each do |post_comment| %>
    <% end %>
</ol>
<p>
<%="現在の解答者数:#{@a_count}" %>
</p>