<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @rollmodeltest.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @rollmodeltest.email %>
</p>

<%= link_to 'Edit', edit_rollmodeltest_path(@rollmodeltest) %> |
<%= link_to 'Back', rollmodeltests_path %>
